
 
{% block content %}
    {% if doc.material_issued %}
        <table class="table">
            <tbody>
                {% for row in doc.material_issued %}
                    {% if row.status == 'Pending Approval' %}
                        <tr>
                            <td>{{ doc.name }}</td>
                            <td>{{ row.material_code }}</td>
                            <td>{{ row.material_name }}</td>
                            <td>{{ row.available_quantity }}</td>
                            <td>{{ row.required_quantity }}</td>
                            <td>{{ row.shortage }}</td>
                            <td>{{ row.status }}</td>
                            <td>{{ frappe.utils.format_date(row.approval_date, "d MMMM, YYYY") }}</td>
                            <td>{{ frappe.utils.format_date(row.issued_date, "d MMMM, YYYY") }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}